[Unit]
Description=Hub Ck
After=network.target

[Service]
Type=simple
# Another Type option: forking
ExecStart=/usr/local/bin/hubck --host=http://example.com --poll_time=60 --pin=4 --reboot_wait=180
Restart=always
RestartSec=5
StartLimitInterval=30
StartLimitBurst=3

# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
